/*  ==========================================================================
    BOOTSTRAP SELECT - OVERRIDE
    ========================================================================== */
.bootstrap-select.form-control {
    border: 1px solid #eeeeee;
}
.bootstrap-select .btn {
    border: 0;
    background-color: transparent;
}
.bootstrap-select .btn,
.bootstrap-select .btn:hover,
.bootstrap-select .btn:focus,
.bootstrap-select .btn:active,
.bootstrap-select .btn.dropdown-toggle:hover,
.bootstrap-select .btn.dropdown-toggle:focus,
.bootstrap-select .btn.dropdown-toggle:active {
    box-shadow: none!important;
    outline: 0!important;
    padding-left: 12px;
}

.bootstrap-select .dropdown-menu {
    margin-top: 0;
    border-radius: 0 0 2px 2px;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:active, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #666666;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-default, 
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-default:active, 
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-default:focus, 
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-default:hover {
    color: #666666;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.bootstrap-select.btn-group .dropdown-menu li a {
    padding: 4px 20px;
}