div.dt-buttons {
    display: block;
    margin-bottom: 24px;
    height: 28px;
    float: none;
    text-align: left;
}
    div.dt-buttons .dt-button {
        border-radius: 2px;
        border: 0;
        font-family: 'Rubik', sans-serif;
        line-height: 22px;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
        padding: 0;
        transition-duration: .25s;
    }
        div.dt-buttons .dt-button span {
            display: block;
            padding: 2px 12px;
        }
        div.dt-buttons .dt-button + .dt-button {
            margin-left: 6px;
        }
    div.dt-buttons .dt-button:active,
    div.dt-buttons .dt-button:focus,
    div.dt-buttons .dt-button:hover {
        border: 0;
        box-shadow: none!important;
    }


#datatables_buttons_info {
    border: 0;
    color: #ffffff;
    box-shadow: none;
}
    div.dt-button-info h2 {
        color: #ffffff;
        background-color: transparent;
        border: 0;
    }