/*  ==========================================================================
    GLOBAL
    ========================================================================== */
body {
    font-family: 'Inter Ui', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    padding-top: 67px;
    background-color: #f5f5f5;
    }

    body.login {
        padding: 0;
        padding-top: 80px;
    }

    body.front {
        padding: 0;
        padding-top: 80px;
    }

    body.with-fixed-button {
        padding-bottom: 56px;
    }

* a {
    text-decoration: none!important;
    transition-duration: .25s;
}

a:focus, button:focus, input:focus, textarea:focus, select:focus {
    box-shadow: none!important;
    outline: 0!important;
}

::-moz-selection {
    color: #ffffff;
}
::selection {
    color: #ffffff;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*  ==========================================================================
    THEME
    ========================================================================== */
.the-themes {
    margin: -6px;
}
    .a-theme {
        padding: 6px;
    }
    .a-theme label {
        display: block;
        overflow: hidden;
        position: relative;
        margin: 0;
        cursor: pointer;
        font-weight: 400;
        color: #f5f5f5;
    }
    .a-theme label input[type="radio"] {
        position: absolute;
        left: -999px;
    }

    .theme-data {
        padding: 6px 0 6px 12px;
    }

    .theme-accent {
        float: right;
        margin: -6px 0;
    }
        .theme-accent span {
            display: block;
            height: 34px;
            width: 40px;
            float: left;
        }

    .a-theme.theme-ice .theme-data { background-color: #2a3142; }
    .a-theme.theme-ice .theme-accent span:nth-child(1) { background-color: #2a3142; }
    .a-theme.theme-ice .theme-accent span:nth-child(2) { background-color: #2494be; }
    .a-theme.theme-ice .theme-accent span:nth-child(3) { background-color: #3bafda; }

    .a-theme.theme-aurora .theme-data { background-color: #2a3c42; }
    .a-theme.theme-aurora .theme-accent span:nth-child(1) { background-color: #2a3c42; }
    .a-theme.theme-aurora .theme-accent span:nth-child(2) { background-color: #24be9e; }
    .a-theme.theme-aurora .theme-accent span:nth-child(3) { background-color: #3bdab8; }

    .a-theme.theme-wine .theme-data { background-color: #2a2a2a; }
    .a-theme.theme-wine .theme-accent span:nth-child(1) { background-color: #2a2a2a; }
    .a-theme.theme-wine .theme-accent span:nth-child(2) { background-color: #c71b44; }
    .a-theme.theme-wine .theme-accent span:nth-child(3) { background-color: #e3315d; }

    .a-theme.theme-pumpkin .theme-data { background-color: #221d19; }
    .a-theme.theme-pumpkin .theme-accent span:nth-child(1) { background-color: #221d19; }
    .a-theme.theme-pumpkin .theme-accent span:nth-child(2) { background-color: #d27610; }
    .a-theme.theme-pumpkin .theme-accent span:nth-child(3) { background-color: #ef8e26; }

    .a-theme.theme-sky .theme-data { background-color: #2f323a; }
    .a-theme.theme-sky .theme-accent span:nth-child(1) { background-color: #2f323a; }
    .a-theme.theme-sky .theme-accent span:nth-child(2) { background-color: #487ebc; }
    .a-theme.theme-sky .theme-accent span:nth-child(3) { background-color: #5093e1; }

    .a-theme.theme-field .theme-data { background-color: #2a2a2a; }
    .a-theme.theme-field .theme-accent span:nth-child(1) { background-color: #2a2a2a; }
    .a-theme.theme-field .theme-accent span:nth-child(2) { background-color: #529c61; }
    .a-theme.theme-field .theme-accent span:nth-child(3) { background-color: #65c178; }


/*  ==========================================================================
    LOADER
    ========================================================================== */
.loader-wrap {
    position: fixed;
    z-index: 999999;
    top: 52px;
    bottom: 0;
    left: 0;
    right: 0;
    transition-duration: .3s;
    visibility: hidden;
    opacity: 0;
}
    .loader-wrap.in,
    .loader-wrap.in .fa.fa-loader {
        visibility: visible;
        opacity: 1;
    }
    .loader-wrap .fa.fa-loader {
        font-size: 24px;
        position: absolute;
        line-height: 34px;
        width: 34px;
        text-align: center;
        top: 50%;
        left: 50%;
        margin-top: -17px;
        margin-left: -17px;
        transition-duration: .3s;
        visibility: hidden;
        opacity: 0;
    }

/*  ==========================================================================
    GLOBALS
    ========================================================================== */
input[type="checkbox"], input[type="radio"] { cursor: pointer; }
strong { font-weight: 600; }
em { font-style: italic; }
textarea { resize: vertical; }

.nowrap { white-space: nowrap; }

.text-primary { color: #3bafda; }
.text-muted2 { color: #efefef; }

.logo-preview {
    margin-bottom: 20px;
}
    .logo-preview img { height: 80px; }
    .logo-preview .btn {
        display: inline-block;
        margin-top: 12px;
    }

/*  ==========================================================================
    BOOTSTRAP BUTTONS - OVERRIDE
    ========================================================================== */
.btn {
    border-radius: 4px;
    border-color: transparent!important;
    font-family: 'Inter Ui', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    padding: 7px 24px;
    transition-duration: .25s;
}
    .btn .fa { font-size: 14px; }

    .btn.btn-default {
        padding: 6px 24px;
        background-color: #ffffff;
        border: 1px solid #eeeeee;
    }
    .btn.btn-default:hover,
    .btn.btn-default:focus,
    .btn.btn-default:active { background-color: #fafafa; }

    .btn.btn-primary:hover,
    .btn.btn-primary:focus,
    .btn.btn-primary:active,
    .btn.btn-primary.focus,
    .btn.btn-primary.active,
    .btn-group.open .dropdown-toggle,
    .open > .dropdown-toggle.btn-primary {
        box-shadow: none;
    }

    .btn.btn-danger { background-color: #ee6b68; }
    .btn.btn-danger:hover,
    .btn.btn-danger:focus,
    .btn.btn-danger:active,
    .btn.btn-danger.focus,
    .btn.btn-danger.active,
    .open > .dropdown-toggle.btn-danger { background-color: #db6360; }

    .btn.btn-sm {
        line-height: 20px;
        padding: 3px 12px;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 400;
        height: 28px;
    }
    .btn.btn-xs {
        line-height: 22px;
        padding: 0 10px;
        font-size: 11px;
        font-weight: 400;
    }

.btn.btn-nav {
    padding: 3px 16px;
    margin: 0 5px 0 20px;
}

.btn.btn-squared {
    padding-left: 0;
    padding-right: 0;
    width: 36px;
}

.remove.btn {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    text-align: center;
}
.dropdown-menu {
    font-size: 14px;
    border-radius: 4px;
    border: 0;
}
    .dropdown-menu li a {
        padding-top: 6px;
        padding-bottom: 6px;
    }

.btn-lg {
    padding: 10px 30px;
    font-size: 14px;
    line-height: 24px;
}

.btn-xlg {
    padding: 14px 30px;
    font-size: 16px;
    line-height: 24px;
}
.btn-xxlg {
    padding: 30px 30px;
    font-size: 16px;
    line-height: 24px;
}

.breaker-button { margin-bottom: 12px; }

/*  ==========================================================================
    BOOTSTRAP LIST GROUPS - OVERRIDE
    ========================================================================== */
.list-group {

}

.select-rqr-list {
    margin-top: 24px;
    border-top: 1px solid #ddd;
}

/*  ==========================================================================
    BOOTSTRAP ALERTS - OVERRIDE
    ========================================================================== */
.alert {
    border-radius: 4px;
    line-height: 22px;
    border: 0;
    transition-duration: .25s;
    overflow: hidden;
}
    .alert .close { font-weight: normal }
    .alert a { font-weight: 600; }
    .alert.alert-warning a { color: #8a6d3b; }

    .alert ul {
        margin: 0;
        padding: 0;
    }
    .alert ul li {
        display: block;
        padding-left: 20px;
        position: relative;
    }
    .alert ul li:before {
        content: '\f071';
        font-family: 'FontAwesome';
        position: absolute;
        left: 0;
        top: 0;
        line-height: 22px;
    }

/*  ==========================================================================
    BOOTSTRAP FORMS - OVERRIDE
    ========================================================================== */
.form-control {
    box-shadow: none;
    border-radius: 4px;
    border-color: #eeeeee;
    padding: 7px 12px;
    height: 36px;
    font-size: 14px;
}
    .form-control.input-sm {
        height: 30px;
        padding: 5px 10px;
    }

    select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        background: url(../images/caret.png) no-repeat;
        background-position: right 8px center;
        line-height: 22px;
        background-size: 16px 16px;
        padding-right: 30px;
        cursor: pointer;
    }
        select.form-control:focus {
            background: url(../images/caret.png) no-repeat #ffffff;
            background-size: 16px 16px;
            background-position: right 8px center;
        }

    .form-group { margin-bottom: 15px; }
    .form-group.fg-last { margin-bottom: 0; }

    .form-group label {
        font-weight: 600;
        cursor: pointer;
    }

    .form-control.auto { width: auto; }

    .form-group-divider {
        display: block;
        padding: 24px 0 24px;
        margin: 0 -24px;
    }
        .form-group-divider span {
            display: block;
            border-top: 1px solid #eeeeee;
        }

    .input-group-addon {
        border-color: #eeeeee;
    }

.input-in-table {
    border: 0;
    width: 100px;
    height: 45px;
    margin: -12px 0;
    background: none;
}
    .input-in-table[disabled] {
        color: #dddddd;
    }
    .iit-100 {
        width: 100%;
    }

.input-group-addon {
    font-size: 14px;
}

.form-group .checkbox span,
.form-group .radio span {
    font-size: 14px;
}

.checkbox,
.radio {
    padding: 0;
    overflow: hidden;
    margin-top: 7px;
    margin-bottom: 7px;
}
    .checkbox input[type="checkbox"] {
        margin-left: -999px;
    }
    .checkbox label,
    .radio label {
        padding-left: 24px;
        font-weight: 400;
    }
    .checkbox label span {
        display: block;
        position: relative;
        color: #666666;
        transition-duration: .25s;
        /* noselect */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .checkbox span:before {
        content: '\f00c';
        font-family: 'FontAwesome';
        position: absolute;
        line-height: 14px;
        height: 16px;
        width: 16px;
        top: 3px;
        left: -23px;
        color: #efefef;
        transition-duration: .25s;
        font-size: 14px;
    }
    .checkbox input[type="checkbox"]:checked + span:before {
        content: '\f00c';
    }

    .radio input[type="radio"] {
        margin-left: -999px;
    }
    .radio label {
        padding-left: 24px;
    }
    .radio label span {
        display: block;
        position: relative;
        color: #666666;
        transition-duration: .25s;
        /* noselect */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .radio span:before {
        content: '\f10c';
        font-family: 'FontAwesome';
        position: absolute;
        line-height: 14px;
        height: 16px;
        width: 16px;
        top: 3px;
        left: -23px;
        color: #efefef;
        transition-duration: .25s;
    }
    .radio input[type="radio"]:checked + span:before {
        content: '\f111';
    }

.form-control-group {
    margin: 20px 0;
}
.form-control-group .form-control + .form-control {
    margin-top: -1px;
}
    .form-control-group .form-control {
        position: relative;
        z-index: 1;
    }
    .form-control-group .form-control:focus {
        z-index: 4;
    }

    .form-control-group .form-control:not(:first-child) {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .form-control-group .form-control:not(:last-child) {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

/*  ==========================================================================
    BOOTSTRAP PANELS - OVERRIDE
    ========================================================================== */
.panel {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 0;
    margin-bottom: 24px;
}

    .panel .panel-heading {
        padding: 12px 12px 0;
        border: 0;
    }
        .panel .panel-heading h4 {
            margin: 0;
            padding: 0;
            font-size: 16px;
            line-height: 1.4;
            font-weight: 600;
            /* noselect */
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

    .panel .panel-body {
        padding: 12px;
    }

        .panel-body .table {
            margin-bottom: 0;
        }

        .panel-body + .panel-body {
            border-top: 1px solid #eeeeee;
        }

    .panel .panel-footer {
        border-color: #eeeeee;
        border-radius: 0 0 4px 4px;
        background: #fafafa;
        padding: 12px;
    }

    .panel .panel-filter {
        padding: 12px;
    }
        .panel .panel-filter + .panel-body { padding-top: 0; }

    .panel-preloader {
        padding: 24px;
        text-align: center;
        font-size: 14px;
        color: #666666;
    }

    .panel .tab-content {
        padding: 24px 0 0;
    }

.panel-separator {
    display: block;
    margin: 0 -24px;
    padding: 24px 0;
}
    .panel-separator span {
        display: block;
        border-top: 1px solid #eeeeee;
    }

.panel-body-action {
    margin-top: 24px;
}

.panel > .table-responsive > table.table {
    margin-bottom: 12px;
    border-bottom: 1px solid #eeeeee;
}

.panel.vendor-entry {
    transition-duration: .25s;
}
.panel.vendor-entry:hover {
    box-shadow: 0 3px 18px rgba(0, 0, 0, .15);
}

/*  ==========================================================================
    BOOTSTRAP TABLE - OVERRIDE
    ========================================================================== */
.table {
    line-height: 22px;
    width: 100%!important;
}
    .table thead tr th {
        font-weight: 400;
        font-size: 11px;
        text-transform: uppercase;
        border-color: #eeeeee;
        padding: 10px 14px;
        border-top: 0;
    }
    .table tbody tr td {
        line-height: 22px;
        padding: 12px 14px;
        border-color: #eeeeee;
        transition-duration: .25s;
    }

    .table.table-hover tbody tr.selected td,
    .table.table-hover tbody tr:hover td {
        background-color: #fafafa;
    }

    .table tbody tr td.table-strong {
        font-weight: 600;
    }

.table-responsive {
    border: 0;
    margin-bottom: 0;
}

.table-photo {
    width: 32px;
    padding-right: 0!important;
}

.table-user-dp {
    height: 32px;
    width: 32px;
    margin: -5px 0;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}
    .table-user-dp a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

.table tr td i.fa { font-size: 14px; }

.table.table-env thead tr th:first-child,
.table.table-env tbody tr td:first-child {
    background-color: #fbfbfb;
}

.table.table-env tr td label {
    margin: 0;
    font-weight: normal;
    cursor: pointer;
    display: block;
}

.table-filter {
    margin-bottom: 15px;
}
    .table-filter .form-control {
        background-color: #ffffff;
    }

/*  ==========================================================================
    BOOTSTRAP TABS - OVERRIDE
    ========================================================================== */
.nav-tabs-wrapper {
    width: 100%;
    overflow-x: scroll;
}
.nav-tabs {
    border-color: #eeeeee;
}
    .nav-tabs li {
        margin: 0 0 0 0;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .nav-tabs li a {
        border: 0!important;
        color: #666666;
    }
    .nav-tabs li a:hover { background: none; }
    .nav-tabs li.active {
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }

/*  ==========================================================================
    BOOTSTRAP BADGE - OVERRIDE
    ========================================================================== */
.badge {
    border-radius: 4px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}

/*  ==========================================================================
    BOOTSTRAP LABEL - OVERRIDE
    ========================================================================== */
.label {
    padding: 3px 6px 3px;
    font-size: 11px;
    font-weight: 400;
}

/*  ==========================================================================
    BOOTSTRAP MODAL - OVERRIDE
    ========================================================================== */
.modal {
    z-index: 999999;
}
    .modal-dialog {
        margin-top: 64px;
    }
    .modal-content {
        box-shadow: none;
        border: 0;
        border-radius: 4px;
    }

    .modal .modal-header {
        padding: 12px 12px 0;
        border: 0;
    }
        .modal .modal-header h4 {
            margin: 0;
            padding: 0;
            font-size: 16px;
            line-height: 1.4;
        }
        .modal .modal-header .close {
            font-weight: normal;
            transition-duration: .25s;
            font-size: 24px;
        }

    .modal .modal-body {
        padding: 12px;
        overflow: hidden;
    }

        .modal-body .table {
            margin-bottom: 0;
        }

    .modal .modal-footer {
        border-color: #eeeeee;
        border-radius: 0 0 2px 2px;
        background: #fafafa;
        padding: 12px;
    }

.modal-backdrop {
    z-index: 99999;
}
.modal-backdrop.in {
    opacity: 1;
}

.modal-separator {
    display: block;
}
    .modal-separator span {
        display: block;
        border-top: 1px solid #eeeeee;
    }

.modal.modal-danger .modal-content {
    background-color: #ee6b68;
}
.modal.modal-danger .modal-content {
    color: #ffffff;
    text-align: center;
}
.modal.modal-danger .modal-header .close {
    color: #ffffff;
    text-shadow: none;
    transition-duration: .25s;
    opacity: .6;
    font-weight: normal;
}
.modal.modal-danger .modal-title {
    font-size: 24px;
}
.modal.modal-danger .modal-body {
    padding-top: 12px;
}
.modal.modal-danger .modal-footer {
    text-align: center;
}

.modal.modal-rq .modal-header {
    text-align: center;
    padding-bottom: 20px;
    border-radius: 2px 2px 0 0;
}
    .modal.modal-rq .modal-header .close {
        color: #ffffff;
        text-shadow: none;
    }

    .modal.modal-rq.modal-rq-warning .modal-header {
        background: #f0ad4e;
        color: #ffffff;
    }
    .modal.modal-rq.modal-rq-info .modal-header {
        background: #5bc0de;
        color: #ffffff;
    }
    .modal.modal-rq.modal-rq-success .modal-header {
        background: #5cb85c;
        color: #ffffff;
    }
    .modal.modal-rq.modal-rq-danger .modal-header {
        background: #d9534f;
        color: #ffffff;
    }


/*  ==========================================================================
    MODAL TAB & CONTENTS
    ========================================================================== */
.modal-tab-wrap .nav-tabs {
    padding: 0 24px;
    margin: 0 -24px;
}

.modal-tab-wrap .tab-content {
    padding-top: 24px;
}

    .modal-tab-details-container {

    }

        .modal-tab-details-container h1 {
            font-size: 24px;
            margin: 0;
            padding: 0;
            line-height: 1.4;
        }
        .modal-tab-details-container h5 {
            margin: 4px 0;
            padding: 0;
            line-height: 1.4;
        }
            .modal-tab-details-container h5 em {
                font-style: normal;
                font-weight: 400;
            }

    .modal-tab-details-container + .modal-tab-details-container {
        margin-top: 24px;
    }

/*  ==========================================================================
    BOOTSTRAP PAGINATION - OVERRIDE
    ========================================================================== */
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.pagination>li>a, .pagination>li>span {
    border-color: #eeeeee;
}
.pagination>li>a:hover {
    background-color: #fafafa;
}

/*  ==========================================================================
    DATATABLES - OVERRIDE
    ========================================================================== */
.dataTables_wrapper {

}
    .panel-body .table.dataTable {
        margin-bottom: 24px;
        border-bottom: 1px solid #eeeeee;
    }
        .panel-body .table.dataTable tbody tr td {
            cursor: pointer;
            transition-duration: .25s;
        }

    .dataTables_filter { display: none; }

    .dataTables_info { font-size: 12px; }
    .dataTables_info .select-info { display: none; }

    .dataTables_paginate {}
    .dataTables_paginate ul {

    }
    .dataTables_paginate ul li a {
        font-size: 12px;
        line-height: 22px;
        padding: 1px 0;
        width: 30px;
        display: block;
        text-align: center;
    }

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #fafafa;
}

#quick-search {
    display: none;
}

.dataTables_info {
    line-height: 22px;
    padding: 5px 0!important;
    margin: 0;
    display: block;
}
.dataTables_paginate {
    float: none;
}

/*  ==========================================================================
    AUTH PANEL
    ========================================================================== */
#auth-panel {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}
    #auth-panel h3 {
        text-align: center;
        margin: 0 0 24px 0;
        padding: 0;
        line-height: 1.3;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: -0.02em;
    }

    .auth-logo {
        height: 60px;
        width: 100%;
        margin-bottom: 24px;
        position: relative;
    }
        .auth-logo a {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

/*  ==========================================================================
    HEADER
    ========================================================================== */
header {
    color: #ffffff;
    position: fixed;
    z-index: 9990;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 52px;
}

    .navbar-header {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .navbar-brand > img { display: inline-block; }

    #push-menu-trigger {
        position: absolute;
        height: 52px;
        width: 52px;
        left: -15px;
        top: 0;
        border: 0;
        padding: 0;
        background: none;
        text-align: center;
        transition-duration: .25s;
    }
        #push-menu-trigger span {
            display: block;
            height: 2px;
            border-radius: 4px;
            background-color: #ffffff;
            margin: 3px auto;
            width: 45%;
        }
        #push-menu-trigger span:nth-child(2) {
            width: 40%;
        }


    #quick-add {
        position: absolute;
        right: -15px;
        top: 0;
        height: 52px;
    }
    #quick-add-trigger {
        height: 52px;
        width: 52px;
        right: -12px;
        top: 0;
        border: 0;
        padding: 0;
        background: none;
        text-align: center;
        transition-duration: .25s;
    }
        a#quick-add-trigger {
            color: #ffffff;
            line-height: 52px;
            display: inline-block;
        }
        #quick-add-trigger > .fa {
            font-size: 14px;
        }

        #quick-add-trigger > span {
            position: relative;
            height: 100%;
            width: 100%;
            display: block;
        }
            #quick-add-trigger > span > span:first-child {
                position: absolute;
                height: 2px;
                width: 20px;
                border-radius: 4px;
                background-color: #ffffff;
                top: 50%;
                margin-top: -1px;
                left: 50%;
                margin-left: -10px;
            }
            #quick-add-trigger > span > span:last-child {
                position: absolute;
                height: 20px;
                width: 2px;
                border-radius: 4px;
                background-color: #ffffff;
                top: 50%;
                margin-top: -10px;
                left: 50%;
                margin-left: -1px;
            }

        #quick-add .dropdown-menu {
            border-radius: 0 0 0 4px;
            box-shadow: none;
            color: #ffffff;
            margin-top: 0;
            border: 0;
        }
            #quick-add .dropdown-menu li a {
                padding: 6px 20px;
            }

            #quick-add .dropdown-menu li:hover a,
            #quick-add .dropdown-menu li:focus a,
            #quick-add .dropdown-menu li a:focus,
            #quick-add .dropdown-menu li:active a {
                color: #ffffff;
            }
            #quick-add .dropdown-menu li.divider {
                background-color: rgba(255, 255, 255, .2);
            }

    .navbar-brand {
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        padding: 14px 12px;
        height: 52px;
        float: none;
        display: block;
        text-align: center;
    }
    .navbar-brand:hover,
    .navbar-brand:focus,
    .navbar-brand:active {
        color: #ffffff;
    }

        .navbar-brand img {
            height: 40px;
            margin-top: -8px;
        }

/*  ==========================================================================
    ASIDE
    ========================================================================== */
aside {
    position: fixed;
    left: -212px;
    top: 52px;
    bottom: 0;
    width: 212px;
    transition-duration: .25s;
    z-index: 9999;
}
    body.show-nav aside {
        left: 0;
    }

    .aside-backdrop {
        position: fixed;
        top: 52px;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 9995;
        display: none;
        cursor: pointer;
    }

.aside-content {
    position: relative;
    height: 100%;
    width: 100%;
}

    .aside-menu {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 86px;
    }

        #collapsible-menu-wrap {

        }

    .aside-upanel {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
        .upanel {
            padding: 22px 20px;
            cursor: pointer;
            position: relative;
        }
        .upanel-dp {
            position: absolute;
            left: 20px;
            top: 22px;
            width: 42px;
            height: 42px;
            background-color: red;
            border-radius: 4px;
            overflow: hidden;
        }
        .upanel-info {
            width: 100%;
            padding: 1px 0;
            padding-left: 54px;
            overflow: hidden;
        }
            .upanel-info h4 {
                font-size: 14px;
                font-weight: 600;
                margin: 0;
                padding: 0;
                line-height: 22px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                color: #ffffff;
            }
            .upanel-info h5 {
                font-size: 12px;
                font-weight: 400;
                margin: 0;
                padding: 0;
                line-height: 18px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
            }

        .upanel-dd {
            border-radius: 0;
            border: 0;
            border-color: #eeeeee;
            box-shadow: none;
            width: 100%;
        }
            .upanel-dd li a:hover,
            .upanel-dd li a:focus,
            .upanel-dd li a:active {
                color: #ffffff;
            }

#main-nav {
    padding: 40px 0;
    margin-bottom: 0;
}

    #main-nav .panel {
        border-radius: 0;
        box-shadow: none;
        margin-top: 0;
        background: none;
    }
    #main-nav .panel .panel-heading {
        padding: 0;
        border-radius: 0;
    }
        #main-nav .panel .panel-heading a {
            padding: 14px 20px 14px 44px;
            display: block;
            position: relative;
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;
        }
            #main-nav .panel .panel-heading a[data-toggle="collapse"]:after {
                content: '\f107';
                font-family: 'FontAwesome';
                font-size: 14px;
                position: absolute;
                height: 20px;
                width: 16px;
                line-height: 22px;
                text-align: center;
                right: 12px;
            }
            #main-nav .panel .panel-heading a[data-toggle="collapse"]:not(.collapsed):after {
                content: '\f106';
            }
        #main-nav .panel .panel-heading a:hover,
        #main-nav .panel .panel-heading a:focus,
        #main-nav .panel .panel-heading a:active {
            color: #ffffff;
        }
        #main-nav .panel .panel-heading a i.fa {
            position: absolute;
            height: 22px;
            line-height: 22px;
            left: 16px;
            font-size: 14px;
        }

    .main-nav-ul {
        padding-left: 44px;
        padding-bottom: 12px;
        margin: 0;
    }
        .main-nav-ul li {
            display: block;
        }
        .main-nav-ul li a {
            padding: 8px 0;
            display: block;
        }
        .main-nav-ul li.active a,
        .main-nav-ul li a:hover,
        .main-nav-ul li a:active,
        .main-nav-ul li a:focus {
            color: #ffffff;
        }

        .main-nav-ul li.divider {
            display: block;
            margin: 4px 0;
        }


/*  ==========================================================================
    QUICK PREVIEW
    ========================================================================== */
.preview-container {
    position: relative;
}
    .preview-preloader-overlay {
        background-color: rgba(255, 255, 255, .8);
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }
    .preview-preloader-overlay .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30px;
        width: 30px;
        margin-left: -15px;
        margin-top: -15px;
        line-height: 30px;
        text-align: center;
        font-size: 24px;
    }
.qp-photo {
    height: 120px;
    width: 120px;
    text-align: center;
    font-size: 50px;
    line-height: 120px;
    color: #bbbbbb;
    border-radius: 4px;
    background: #fafafa;
    float: left;
}

.prod-price {
    font-size: 14px;
    padding: 6px 12px 4px;
}
.prod-price:not(.hidden) {
    margin-top: 24px;
    display: inline-block;
}
.prod-price:not(.hidden) + .prod-info {
    margin-top: 12px;
}
.qp-info {
    margin-top: 24px;
}
    .qp-info h3 {
        margin: 0 0 3px 0;
        padding: 0;
        line-height: 1.4;
        font-size: 18px;
    }
    .qp-info h5 {
        margin: 0 0 12px 0;
        padding: 0;
        line-height: 1.4;
        font-size: 14px;
        font-weight: 400;
    }
    .qp-meta p { margin-bottom: 6px; }
    .qp-meta p span { display: block; }

    .qp-info > span + h3 {
        margin-top: 12px;
    }

.qp-options {
    margin: -2px;
    margin-top: 20px;
}
    .qp-options.btn-group {
        margin: 0;
        margin-top: 20px;
    }
    .qp-options:not(.btn-group) .btn {
        margin: 2px;
        float: left;
    }

/*  ==========================================================================
    USER PROFILE
    ========================================================================== */
.profile-head {

}

    .profile-photo {
        width: 120px;
        height: 120px;
        float: left;
        border-radius: 4px;
        overflow: hidden;
    }

    .profile-info {
        float: left;
        margin-left: 24px;
        padding: 0 0 8px 0;
    }
        .profile-info h1 {
            margin: 0;
            padding: 0;
            font-size: 30px;
            line-height: 1.4;
            font-weight: 400;
        }

        .profile-info h3 {
            margin: 0 0 8px 0;
            padding: 0;
            font-size: 18px;
            line-height: 1.4;
            font-weight: 400;
        }


/*  ==========================================================================
    JQUERY UI
    ========================================================================== */
.ui-widget {
    background-color: #ffffff;
    padding: 12px;
    border: 1px solid #ececec;
    width: 240px;
    border-radius: 4px;
}

    .ui-widget-header {
        text-align: center;
        position: relative;
        line-height: 24px;
        margin-bottom: 6px;
    }
        .ui-widget-header a {
            position: absolute;
            top: 0;
            height: 24px;
            width: 24px;
            line-height: 24px;
            overflow: hidden;
            cursor: pointer;
        }
            .ui-widget-header a.ui-datepicker-prev { left: -4px; }
            .ui-widget-header a.ui-datepicker-prev:before {
                content: '\f104';
                font-family: 'FontAwesome';
                position: relative;
                height: 24px;
                width: 24px;
                line-height: 24px;
                display: block;
            }
            .ui-widget-header a.ui-datepicker-next { right: -4px; }
            .ui-widget-header a.ui-datepicker-next:before {
                content: '\f105';
                font-family: 'FontAwesome';
                position: relative;
                height: 24px;
                width: 24px;
                line-height: 24px;
                display: block;
            }

    #ui-datepicker-div {
        display: none;
    }
    .ui-datepicker-title {
        font-weight: 600;
    }
        .ui-datepicker-title select {
            height: 24px;
            border: 0;
            margin: 0 1px;
            padding: 2px;
            background: url(../images/caret.png) no-repeat;
            background-position: right 3px center;
            background-size: 16px 16px;
            padding-right: 16px;
            -webkit-appearance: none;
            -moz-appearance: none;
            cursor: pointer;
        }

    .ui-datepicker-calendar {
        width: 100%;
        text-align: center;
    }
    .ui-datepicker-calendar thead tr th {
        font-weight: normal;
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
    }
    .ui-datepicker-calendar tbody tr td a {
        padding: 4px 0;
        line-height: 22px;
        display: block;
        color: #353535;
    }
    .ui-datepicker-calendar tbody tr td.ui-datepicker-today a,
    .ui-datepicker-calendar tbody tr td a:hover {
        color: #ffffff;
        border-radius: 4px;
    }
    .ui-datepicker-calendar tbody tr td.ui-datepicker-week-end a { color: #cccccc; }
    .ui-datepicker-calendar tbody tr td.ui-datepicker-week-end a:hover { color: #ffffff; }


/*  ==========================================================================
    REQUESTS ETC
    ========================================================================== */
#request-details {

}
    #request-details .tab-pane {
        padding-top: 24px;
    }

.request-meta {
    margin-bottom: 24px;
}
    .request-meta h1 {
        margin: 20px 0 4px 0;
        padding: 0;
        line-height: 1.4;
        font-size: 24px;
    }
    .request-meta h4 {
        margin: 0 0 12px;
        padding: 0;
        line-height: 1.4;
        font-size: 18px;
        font-weight: 400;
    }

    .request-meta h5 {
        margin: 4px 0;
        padding: 0;
        line-height: 1.4;
        font-size: 14px;
    }
        .request-meta h5 em {
            font-weight: 400;
            font-style: normal;
        }

.request-data {
    padding: 24px 0;
}
    .request-data > h5 {
        margin-top: 0;
    }
    .request-data > p {
        margin-bottom: 0;
    }

    .request-data.rd-last {
        padding-bottom: 0;
    }

table#products-table {
    border-bottom: 1px solid #eeeeee;
}


/*  ==========================================================================
    DETAILS ETC
    ========================================================================== */
.details-content {

}
    .details-content h1 {
        margin: 0 0 12px 0;
        padding: 0;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 400;
    }

    .details-content h4 {
        margin: 0 0 6px 0;
        padding: 0;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
    }

    .details-content h5 {
        margin: 0 0 6px 0;
        padding: 0;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
    }

    .details-more-info {

    }
        .details-more-info h5 {
            margin: 0;
        }
        .details-more-info h5 + h5 {
            margin-top: 6px;
        }
        .details-more-info p:last-child {
            margin-bottom: 0;
        }

    .details-photo {
        height: 80px;
        width: 80px;
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 24px;
    }
        .details-photo-initial {
            font-size: 40px;
            font-weight: 300;
            line-height: 120px;
            color: #dddddd;
            background-color: #f5f5f5;
            text-align: center;
        }


#requester-signup-panel {
    margin-bottom: 60px;
}

.po-createdby {
    margin-bottom: 24px;
}

/*  ==========================================================================
    ADDRESSES
    ========================================================================== */
.address-separator {
    display: block;
}
    .address-separator span {
        display: block;
        border-bottom: 1px dashed #eeeeee;
    }


/*  ==========================================================================
    PURCHASE ORDER PAGES
    ========================================================================== */
.po-meta {
    padding-bottom: 24px;
}
    .po-meta span.label {
        display: inline-block;
        padding: 4px 10px;
        font-size: 12px;
    }

    .po-meta h2 {
        font-size: 18px;
        margin: 18px 0 6px;
    }

.form-control-group .input-group + .input-group {
    margin-top: 12px;
}

/*  ==========================================================================
    ERROR PAGES
    ========================================================================== */
.error-page {
    text-align: center;
}
    .error-page h1 {
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 70pt;
        line-height: 1;
    }
    .error-page h3 {
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3;
        text-transform: uppercase;
    }

/*  ==========================================================================
    CARDS
    ========================================================================== */
.card-photo {
    margin: 20px 0;
}
    .card-photo-container {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #fafafa;
        margin: 0 auto;
    }

    .card-photo-container.no-photo {
        font-size: 40px;
        font-weight: 300;
        text-align: center;
        line-height: 100px;
        color: #dddddd;
    }

.card-info {
    height: 180px;
    overflow: hidden;
}
    .card-info h4 {
        font-size: 16px;
        line-height: 1.4;
        margin: 0 0 4px 0;
    }
    .card-info h5 {
        font-size: 14px;
        line-height: 1.4;
        font-weight: 400;
        margin: 0;
        height: 60px;
    }


/*  ==========================================================================
    QUICK ANALYSIS
    ========================================================================== */
.quick-a-stat {
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
}
    .quick-a-stat h2 {
        font-weight: 400;
        font-size: 40px;
        margin: 10px 0 4px 0;
        padding: 0;
    }
    .quick-a-stat h5 {
        text-transform: uppercase;
        font-size: 11px;
        margin: 0 0 10px 0;
        font-weight: 400;
    }


/*  ==========================================================================
    DASHBOARD STATS
    ========================================================================== */
.dashboard-stat {
    text-align: center;
}

    .dashboard-stat h2 {
        margin: 12px 0 0 0;
        padding: 0;
        line-height: 1.2;
        font-weight: 300;
        font-size: 60px;
    }
    .dashboard-stat h4 {
        margin: 0 0 12px 0;
        padding: 0;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 11px;
        line-height: 1.4;
    }


.fixed-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
}
    .fixed-button .btn {
        margin: 0;
        border-radius: 0;
        font-size: 20px;
        padding: 12px auto;
        height: 50px;
    }

.wrq-header {
    margin-bottom: 24px;
}
    .wrq-header h1 {
        margin: 0;
        padding: 0;
        font-size: 26px;
        line-height: 1.4;
    }

.wrq-products .checkbox span {
    font-size: 16px;
}

.wrq-details {
    margin-bottom: 24px;
}
    .wrq-details h1 {
        margin: 12px 0 0 0;
        padding: 0;
        line-height: 1.3;
    }
    .wrq-details p {
        margin: 12px 0 0 0;
    }

.wrq-switch-loc .btn {
    margin-bottom: 12px;
}
    .wrq-switch-loc .btn small {
        display: block;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 400;
        white-space: normal;
        line-height: 14px;
    }

.wrq-product-entry {
    height: 80px;
    display: table;
    vertical-align: middle;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
    .wrq-product-entry .products-cb {
        position: absolute;
        top: -999px;
    }

    .wrq-product-entry-caption {
        display: table-cell;
        vertical-align: middle;
        font-size: 16px;
        line-height: 1.4;
        transition-duration: .25s;
        background: #f5f5f5;
        color: #666666;
        border-radius: 4px;
        padding: 0 24px;
    }

    .wrq-product-entry .products-cb:checked + .wrq-product-entry-caption {
        font-size: 11px;
        background: #3bafda;
        color: #ffffff;
    }
    .wrq-product-entry .products-cb:checked + .wrq-product-entry-caption .wrq-product-field-container {
        height: auto;
    }

    .wrq-product-entry-caption span {
        font-weight: 400;
    }

    .wrq-product-field-container {
        height: 1px;
        transition-duration: .25s;
        overflow: hidden;
        margin-top: 4px;
    }
        .wrq-product-field-container input {
            margin-top: 1px;
            font-weight: 400;
            text-align: center;
            border: 0;
            background: none;
        }

        .wrq-product-field-container input::-webkit-input-placeholder { color: #afd9ed; }
        .wrq-product-field-container input:-moz-placeholder { color: #afd9ed; }
        .wrq-product-field-container input::-moz-placeholder { color: #afd9ed; }
        .wrq-product-field-container input:-ms-input-placeholder { color: #afd9ed; }

/*  ==========================================================================
    NICE TABLE
    ========================================================================== */
.table-responsive {
    border: 0;
}
.table-actions {
    margin-bottom: 20px;
}
.nice-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    border-collapse: separate;
    border-spacing: 0 6px;
}
.nice-table thead tr th {
    padding: 8px 15px;
    vertical-align: top;
    white-space: nowrap;
    color: #ffffff;
}
.nice-table tbody tr {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.nice-table tbody tr td {
    padding: 20px 15px;
    background: #ffffff;
    transition-duration: .1s;
    vertical-align: top;
}
    .nice-table tbody tr:hover td,
    .nice-table tbody tr:hover td a {
        color: #ffffff;
    }

    .nice-table tbody tr td.no-entries,
    .nice-table tbody tr td.no-entries:hover {
        background-color: #eeeeee!important;
        color: #666666;
    }

.nice-table tbody tr {
    margin-top: 2px;
}
.nice-table thead tr th:first-child,
.nice-table tbody tr td:first-child {
    padding-left: 15px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.nice-table thead tr th:last-child,
.nice-table tbody tr td:last-child {
    padding-right: 15px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.nice-table tbody tr td.active {
    background-color: #e6e6e6;
    color: #404040;
}

.nice-table tbody tr td a {
    transition-duration: 0s;
}

.nice-table tbody tr td.nice-table-actions {
    text-align: right;
}
    .nice-table tbody tr td.nice-table-actions a {
        visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .nice-table tbody tr:hover td.nice-table-actions a {
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity=100);
    }

.nice-table tbody tr td .table-user-dp {
    margin: 0;
}

/*  ==========================================================================
    PAGE HEADER
    ========================================================================== */
.page-header {
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 1px dotted #dddddd;
    padding-bottom: 20px;
}
    .page-header:before,
    .page-header:after {
        content: ' ';
        display: table;
        clear: both;
    }
    .page-header h2 {
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 1.4;
        font-weight: 600;
        float: left;
    }

    .page-head-actions {
        float: right;
    }

/*  ==========================================================================
    PAGINATION
    ========================================================================== */
.pagination-wrap{
    padding: 20px 0 15px;
}
.pagination-info {
    padding: 7px 0;
    text-align: center;
    font-weight: 600;
}
.pagination-navi {
    padding-left: 0;
    padding-right: 0;
}
.navi-next {
    float: right;
}

/*  ==========================================================================
    SmartWizard
    ========================================================================== */

.sw-main {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.sw-main .sw-container {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}

.sw-main .step-content {
    display: none;
    position: relative;
    margin: 0;
}

.sw-main .sw-toolbar {
    margin-left: 0;
}


/* SmartWizard Theme: White */
.sw-theme-default {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.sw-theme-default .sw-container {
    min-height: 250px;
}

.sw-theme-default .step-content {
    padding: 10px;
    border: 0px solid #D4D4D4;
    background-color: #FFF;
    text-align: left;
}

.sw-theme-default .sw-toolbar {
    background: #f9f9f9;
    border-radius: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0 !important;
}

.sw-theme-default .sw-toolbar-top {
    border-bottom-color: #ddd !important;
}

.sw-theme-default .sw-toolbar-bottom {
    border-top-color: #ddd !important;
}

.sw-theme-default > ul.step-anchor > li > a, .sw-theme-default > ul.step-anchor > li > a:hover {
    border: none !important;
    color: #bbb;
    text-decoration: none;
    outline-style: none;
    background: transparent !important;
    border: none !important;
}

.sw-theme-default > ul.step-anchor > li.clickable > a:hover {
    color: #4285F4 !important;
    background: transparent !important;
}

.sw-theme-default > ul.step-anchor > li > a::after {
    content: "";
    background: #4285F4;
 /* #5bc0de #4285F4*/
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    -webkit-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.sw-theme-default > ul.step-anchor > li.active > a {
    border: none !important;
    color: #4285F4 !important;
    background: transparent !important;
}

.sw-theme-default > ul.step-anchor > li.active > a::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.sw-theme-default > ul.step-anchor > li.done > a {
    border: none !important;
    color: #000 !important;
    background: transparent !important;
}

.sw-theme-default > ul.step-anchor > li.done > a::after {
    background: #5cb85c;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.sw-theme-default > ul.step-anchor > li.danger > a {
    border: none !important;
    color: #d9534f !important;
    background: transparent !important;
}

.sw-theme-default > ul.step-anchor > li.danger > a::after {
    background: #d9534f;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.sw-theme-default > ul.step-anchor > li.disabled > a, .sw-theme-default > ul.step-anchor > li.disabled > a:hover {
    color: #eee !important;
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
    .sw-theme-default > .nav-tabs > li {
        float: none !important;
    }
}

/* Loader Animation
Courtesy: http://bootsnipp.com/snippets/featured/loading-button-effect-no-js
*/
@-webkit-keyframes ld {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }

    50% {
        -webkit-transform: rotate(180deg) scale(1.1);
        transform: rotate(180deg) scale(1.1);
    }

    100% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
    }
}

@keyframes ld {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }

    50% {
        -webkit-transform: rotate(180deg) scale(1.1);
        transform: rotate(180deg) scale(1.1);
    }

    100% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
    }
}

.sw-theme-default > ul.step-anchor > li.loading:before {
    content: '';
    display: inline-block;
    position: absolute;
    background: transparent;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #4285f4;
    border-right-color: #4285f4;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    -webkit-animation: ld 1s ease-in-out infinite;
    animation: ld 1s ease-in-out infinite;
}
