/*  ==========================================================================
    SM // SMALL // TABLET
    ========================================================================== */
@media (min-width: 768px) {

    .navbar-brand {        
        float: none;
        display: inline-block;
        text-align: center;
    }

    .panel .panel-heading,
    .modal .modal-header { padding: 20px 20px 0; }
    .panel .panel-filter,
    .panel .panel-body,
    .modal .modal-body { padding: 20px; }
    .panel .panel-footer,
    .modal .modal-footer { padding: 12px 20px; }

    .request-meta h1 { margin: 0 0 4px 0; }

    div.dt-buttons {
        width: 100%;
        text-align: right;
    }
    .dataTables_info {
        line-height: 20px;
        padding: 5px 0!important;
        margin: 0;
        display: inline-block;
    }
    .dataTables_paginate {
        float: right;
    }
    .dataTables_paginate ul {
        float: right;
    }

    .details-photo {
        float: left;
        margin-right: 24px;
        height: 120px;
        width: 120px;
    }

    .details-content h1 {
        font-size: 34px;
    }

    .details-content h4 {
        font-size: 16px;
    }

}


/*  ==========================================================================
    MD // MEDIUM // SMALL DEKSTOP
    ========================================================================== */
@media (min-width: 992px) {

    body { padding: 82px 15px 15px 227px; }
    aside { left: 0; }

    body.front { padding-left: 0; }

    #push-menu-trigger { display: none; }

    .navbar-header {
        text-align: left;
    }

    .panel .panel-heading,
    .modal .modal-header { padding: 20px 24px 0; }
    .panel .panel-filter,
    .panel .panel-body,
    .modal .modal-body { padding: 24px; }
    .panel .panel-footer,
    .modal .modal-footer { padding: 12px 24px; }

    .breaker-button { margin-bottom: 24px; }

    .panel > .table-responsive table.table {
        margin-top: 12px;
    }

    .panel > .table-responsive table.table thead tr th:first-child,
    .panel > .table-responsive table.table tbody tr td:first-child {
        padding-left: 24px;
    }

    .panel > .table-responsive table.table thead tr th:last-child,
    .panel > .table-responsive table.table tbody tr td:last-child {
        padding-right: 24px;
    }

    .panel > .table-responsive > table.table { margin-bottom: 24px; }

    .wrq-switch-loc .btn { margin-bottom: 24px; }
    
    .form-group { margin-bottom: 20px; }

    .list-group .list-group-item {
        padding: 12px 24px;
    }

}


/*  ==========================================================================
    LG // LARGE // LARGE DEKSTOP
    ========================================================================== */
@media (min-width: 1200px) {

    .nav-tabs-wrapper { overflow: auto; }
    .nav-tabs-wrapper > ul { width: 100%!important }

}

@media (min-width: 1600px) {



}