/*  ==========================================================================
    CUSTOM CSS
    ========================================================================== */
* a {
    color: #3bafda;
    transition-duration: .25s;
}
* a:hover, * a:focus {
    color: #3bafda;
    text-decoration: none;
}

::-moz-selection {
    background: #3bafda;
    color: #ffffff;
    text-shadow: none;
}
::selection {
    background: #3bafda;
    color: #ffffff;
    text-shadow: none;
}

a:focus, button:focus, input:focus, textarea:focus, select:focus {
    box-shadow: none!important;
    outline: 0!important;
}


/*  ==========================================================================
    LOADER
    ========================================================================== */
.loader-wrap {
    position: fixed;
    z-index: 999999;
    top: 52px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(42, 49, 66, .8);
    transition-duration: .3s;
    visibility: hidden;
    opacity: 0;
}
    .loader-wrap.in,
    .loader-wrap.in .fa.fa-loader {
        visibility: visible;
        opacity: 1;
    }
    .loader-wrap .fa.fa-loader {
        color: #3bafda;
        font-size: 24px;
        position: absolute;
        line-height: 34px;
        width: 34px;
        text-align: center;
        top: 50%;
        left: 50%;
        margin-top: -17px;
        margin-left: -17px;
        transition-duration: .3s;
        visibility: hidden;
        opacity: 0;
    }

/*  ==========================================================================
    GLOBALS
    ========================================================================== */
input[type="checkbox"], input[type="radio"] { cursor: pointer; }
strong { font-weight: 500; }
em { font-style: italic; }
textarea { resize: vertical; }

.nowrap { white-space: nowrap; }

.text-primary { color: #3bafda; }

.logo-preview {
    margin-bottom: 20px;
}
    .logo-preview img { height: 80px; }
    .logo-preview .btn {
        display: inline-block;
        margin-top: 12px;
    }

/*  ==========================================================================
    BOOTSTRAP BUTTONS - OVERRIDE
    ========================================================================== */
.btn {
    border-radius: 2px;
    border: 0;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    padding: 7px 24px;
    margin-bottom: 4px;
    transition-duration: .25s;
}

    .btn.btn-default {
        padding: 6px 24px;
        background-color: #ffffff;
        border: 1px solid #eeeeee;
    }
    .btn.btn-default:hover,
    .btn.btn-default:focus,
    .btn.btn-default:active { background-color: #fafafa; }

    .btn.btn-primary { background-color: #3bafda; }
    .btn.btn-primary:hover,
    .btn.btn-primary:focus,
    .btn.btn-primary:active,
    .btn.btn-primary.focus,
    .btn.btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        background-color: #2494be;
        box-shadow: none;
    }

    .btn.btn-danger { background-color: #ee6b68; }
    .btn.btn-danger:hover,
    .btn.btn-danger:focus,
    .btn.btn-danger:active,
    .btn.btn-danger.focus,
    .btn.btn-danger.active,
    .open > .dropdown-toggle.btn-danger { background-color: #db6360; }

    .btn.btn-sm {
        line-height: 22px;
        padding: 3px 12px;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 400;
        height: 28px;
    }
    .btn.btn-xs {
        line-height: 22px;
        padding: 0 10px;
        font-size: 11px;
        font-weight: 400;
    }

.btn.btn-nav {
    padding: 3px 16px;
    margin: 0 5px 0 20px;
}

.btn.btn-squared {
    padding-left: 0;
    padding-right: 0;
    width: 36px;
}

.remove.btn {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    text-align: center;
}
.dropdown-menu {
    font-size: 13px;
    border-radius: 2px;
    border-color: #3bafda;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active >a:focus {
    background-color: #3bafda;
}

/*  ==========================================================================
    BOOTSTRAP ALERTS - OVERRIDE
    ========================================================================== */
.alert {
    border-radius: 2px;
    line-height: 22px;
    border: 0;
    transition-duration: .25s;
    overflow: hidden;
}
    .alert a { font-weight: 500; }
    .alert.alert-warning a { color: #8a6d3b; }

    .alert ul {
        margin: 0;
        padding: 0;
    }
    .alert ul li {
        display: block;
        padding-left: 20px;
        position: relative;
    }
    .alert ul li:before {
        content: '\f071';
        font-family: 'FontAwesome';
        position: absolute;
        left: 0;
        top: 0;
        line-height: 22px;
    }

/*  ==========================================================================
    BOOTSTRAP FORMS - OVERRIDE
    ========================================================================== */
.form-control {
    box-shadow: none;
    border-radius: 2px;
    border-color: #eeeeee;
    padding: 7px 12px;
    height: 36px;
    font-size: 13px;
}
    .form-control.input-sm {
        height: 30px;
        padding: 5px 10px;
    }
    .form-control:focus {
        border-color: #3bafda;
    }

    select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        background: url(../images/caret.png) no-repeat;
        background-position: right 8px center;
        line-height: 22px;
        background-size: 16px 16px;
        padding-right: 30px;
        cursor: pointer;
    }
        select.form-control:focus {
            background: url(../images/caret.png) no-repeat #ffffff;
            background-size: 16px 16px;
            background-position: right 8px center;
        }

    .form-group { margin-bottom: 20px; }
    .form-group.fg-last { margin-bottom: 0; }

    .form-group label {
        font-weight: 400;
        cursor: pointer;
    }

    .form-group-divider {
        display: block;
        padding: 24px 0 34px;
        margin: 0 -24px;
    }
        .form-group-divider span {
            display: block;
            border-top: 1px solid #eeeeee;
        }

    .input-group-addon {
        border-color: #eeeeee;
    }

.input-in-table {
    border: 0;
    width: 100px;
    height: 45px;
    margin: -12px 0;
    background: none;
}
    .input-in-table:focus {
        color: #3bafda;
    }

.checkbox,
.radio {
    padding: 0;
    overflow: hidden;
    margin-top: 7px;
    margin-bottom: 7px;
}
    .checkbox input[type="checkbox"] {
        margin-left: -999px;
    }
    .checkbox label,
    .radio label {
        padding-left: 24px;
    }
    .checkbox label span {
        display: block;
        position: relative;
        color: #666666;
        transition-duration: .25s;
    }
    .checkbox span:before {
        content: '\f00c';
        font-family: 'FontAwesome';
        position: absolute;
        line-height: 14px;
        height: 16px;
        width: 16px;
        top: 3px;
        left: -23px;
        color: #efefef;
        transition-duration: .25s;
        font-size: 14px;
    }
    .checkbox input[type="checkbox"]:checked + span:before {
        content: '\f00c';
        color: #3bafda;
    }

    .radio input[type="radio"] {
        margin-left: -999px;
    }
    .radio label {
        padding-left: 24px;
    }
    .radio label span {
        display: block;
        position: relative;
        color: #666666;
        transition-duration: .25s;
    }
    .radio span:before {
        content: '\f10c';
        font-family: 'FontAwesome';
        position: absolute;
        line-height: 14px;
        height: 16px;
        width: 16px;
        top: 3px;
        left: -23px;
        color: #efefef;
        transition-duration: .25s;
    }
    .radio input[type="radio"]:checked + span:before {
        content: '\f111';
        color: #3bafda;
    }

/*  ==========================================================================
    BOOTSTRAP PANELS - OVERRIDE
    ========================================================================== */
.panel {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: 0;
    margin-bottom: 24px;
}

    .panel .panel-heading {
        padding: 12px 12px 0;
        border: 0;
    }
        .panel .panel-heading h4 {
            margin: 0;
            padding: 0;
            font-size: 16px;
            line-height: 1.4;
        }

    .panel .panel-body {
        padding: 12px;
    }

        .panel-body .table {
            margin-bottom: 0;
        }

    .panel .panel-footer {
        border-color: #eeeeee;
        border-radius: 0 0 2px 2px;
        background: #fafafa;
        padding: 12px;
    }

    .panel .panel-filter {
        padding: 12px;
    }
        .panel .panel-filter + .panel-body { padding-top: 0; }

    .panel-preloader {
        padding: 24px;
        text-align: center;
        font-size: 13px;
        color: #666666;
    }
        .panel-preloader i.fa { color: #3bafda; }

    .panel .tab-content {
        padding: 24px 0 0;
    }

.panel-separator {
    display: block;
    margin: 0 -24px;
    padding: 24px 0;
}
    .panel-separator span {
        display: block;
        border-top: 1px solid #eeeeee;
    }

/*  ==========================================================================
    BOOTSTRAP TABLE - OVERRIDE
    ========================================================================== */
.table {
    line-height: 22px;
    width: 100%!important;
}
    .table thead tr th {
        font-weight: 400;
        font-size: 11px;
        text-transform: uppercase;
        border-color: #eeeeee;
        padding: 10px 14px;
        border-top: 0;
    }
    .table tbody tr td {
        line-height: 22px;
        padding: 12px 14px;
        border-color: #eeeeee;
        transition-duration: .25s;
    }

    .table.table-hover tbody tr.selected td,
    .table.table-hover tbody tr:hover td {
        background-color: #fafafa;
    }

    .table tbody tr td.table-strong {
        font-weight: 500;
    }

.table-responsive {
    border: 0;
    margin-bottom: 0;
}

    /*.table-responsive .table { min-width: 400px; }*/

.table-photo {
    width: 32px;
    padding-right: 0!important;
}

.table-user-dp {
    height: 32px;
    width: 32px;
    margin: -5px 0;
    border-radius: 2px;
    overflow: hidden;
}

.table tr td i.fa { font-size: 14px; }

/*  ==========================================================================
    BOOTSTRAP TABS - OVERRIDE
    ========================================================================== */
.nav-tabs {
    border-color: #eeeeee;
}
    .nav-tabs li {
        margin: 0 0 -2px 0;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .nav-tabs li a {
        border: 0!important;
        color: #666666;
    }
    .nav-tabs li a:hover { background: none; }
    .nav-tabs li.active { border-bottom: 2px solid #3bafda; }
    .nav-tabs li.active a,
    .nav-tabs li.active a:active,
    .nav-tabs li.active a:hover,
    .nav-tabs li.active a:focus {
        color: #3bafda;
    }

/*  ==========================================================================
    BOOTSTRAP BADGE - OVERRIDE
    ========================================================================== */
.badge {
    border-radius: 2px;
    font-weight: 400;
    background-color: #3bafda;
    font-size: 10px;
    line-height: 10px;
}

/*  ==========================================================================
    BOOTSTRAP LABEL - OVERRIDE
    ========================================================================== */
.label {
    padding: 3px 6px 3px;
    font-size: 11px;
    font-weight: 400;
}
    .label.label-primary {
        background-color: #3bafda;
    }

/*  ==========================================================================
    BOOTSTRAP MODAL - OVERRIDE
    ========================================================================== */
.modal {
    z-index: 999999;
}
    .modal-dialog {
        margin-top: 64px;
    }
    .modal-content {
        box-shadow: none;
        border: 0;
        border-radius: 2px;
    }

    .modal .modal-header {
        padding: 12px 12px 0;
        border: 0;
    }
        .modal .modal-header h4 {
            margin: 0;
            padding: 0;
            font-size: 16px;
            line-height: 1.4;
        }
        .modal .modal-header .close {
            font-weight: normal;
            transition-duration: .25s;
            font-size: 24px;
        }

    .modal .modal-body {
        padding: 12px;
        overflow: hidden;
    }

        .modal-body .table {
            margin-bottom: 0;
        }

    .modal .modal-footer {
        border-color: #eeeeee;
        border-radius: 0 0 2px 2px;
        background: #fafafa;
        padding: 12px;
    }

.modal-backdrop {
    z-index: 99999;
}
.modal-backdrop.in {
    opacity: 1;
    background-color: rgba(42, 49, 66, .8);
}

.modal-separator {
    display: block;
}
    .modal-separator span {
        display: block;
        border-top: 1px solid #eeeeee;
    }

.modal.modal-danger .modal-content {
    background-color: #ee6b68;
    color: #ffffff;
    text-align: center;
}
.modal.modal-danger .modal-header .close {
    color: #ffffff;
    text-shadow: none;
    transition-duration: .25s;
    opacity: .6;
    font-weight: normal;
}
.modal.modal-danger .modal-title {
    font-size: 24px;
}
.modal.modal-danger .modal-body {
    padding-top: 12px;
}
.modal.modal-danger .modal-footer {
    text-align: center;
}


/*  ==========================================================================
    MODAL TAB & CONTENTS
    ========================================================================== */
.modal-tab-wrap .nav-tabs {
    padding: 0 24px;
    margin: 0 -24px;
}

.modal-tab-wrap .tab-content {
    padding-top: 24px;
}

    .modal-tab-details-container {

    }

        .modal-tab-details-container h1 {
            font-size: 24px;
            margin: 0;
            padding: 0;
            line-height: 1.4;
            font-weight: 300;
        }
        .modal-tab-details-container h5 {
            margin: 4px 0;
            padding: 0;
            line-height: 1.4;
        }
            .modal-tab-details-container h5 em {
                font-style: normal;
                font-weight: 400;
            }

    .modal-tab-details-container + .modal-tab-details-container {
        margin-top: 24px;
    }

/*  ==========================================================================
    BOOTSTRAP PAGINATION - OVERRIDE
    ========================================================================== */
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.pagination>li>a, .pagination>li>span {
    color: #3bafda;
    border-color: #eeeeee;
}
.pagination>li>a:hover {
    color: #2494be;
    background-color: #fafafa;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #3bafda;
    border-color: #3bafda;
}

/*  ==========================================================================
    DATATABLES - OVERRIDE
    ========================================================================== */
.dataTables_wrapper {

}
    .panel-body .table.dataTable {
        margin-bottom: 24px;
        border-bottom: 1px solid #eeeeee;
    }
        .panel-body .table.dataTable tbody tr td {
            cursor: pointer;
            transition-duration: .25s;
        }

    .dataTables_filter { display: none; }

    .dataTables_info { font-size: 12px; }
    .dataTables_info .select-info { display: none; }

    .dataTables_paginate {}
    .dataTables_paginate ul {

    }
    .dataTables_paginate ul li a {
        font-size: 12px;
        line-height: 22px;
        padding: 1px 0;
        width: 30px;
        display: block;
        text-align: center;
    }

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #fafafa;
}

#quick-search {
    display: none;
}

.dataTables_info {
    line-height: 20px;
    padding: 5px 0!important;
    margin: 0;
    display: block;
}
.dataTables_paginate {
    float: none;
}

/*  ==========================================================================
    AUTH PANEL
    ========================================================================== */
#auth-panel {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}
    #auth-panel h3 {
        text-align: center;
        margin: 0 0 24px;
        padding: 0;
        line-height: 1.3;
        font-size: 24px;
    }

/*  ==========================================================================
    HEADER
    ========================================================================== */
header {
    background: #3bafda;
    color: #ffffff;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 52px;
}

    .navbar-header {
        position: relative;
        width: 100%;
        text-align: center;
    }

    #push-menu-trigger {
        position: absolute;
        height: 52px;
        width: 52px;
        left: -12px;
        top: 0;
        border: 0;
        padding: 0;
        background: none;
        text-align: center;
        transition-duration: .25s;
    }
        #push-menu-trigger span {
            display: block;
            height: 2px;
            border-radius: 2px;
            background-color: #ffffff;
            margin: 3px auto;
            width: 45%;
        }
        #push-menu-trigger span:nth-child(2) {
            width: 40%;
        }
        body.show-nav #push-menu-trigger,
        #push-menu-trigger:hover,
        #push-menu-trigger:focus,
        #push-menu-trigger:active {
            background-color: #2494be;
        }


    #quick-add {
        position: absolute;
        right: -12px;
        top: 0;
        height: 52px;
    }
    #quick-add-trigger {
        height: 52px;
        width: 52px;
        right: -12px;
        top: 0;
        border: 0;
        padding: 0;
        background: none;
        text-align: center;
        transition-duration: .25s;
    }
        #quick-add-trigger > span {
            position: relative;
            height: 100%;
            width: 100%;
            display: block;
        }
            #quick-add-trigger > span > span:first-child {
                position: absolute;
                height: 2px;
                width: 20px;
                border-radius: 2px;
                background-color: #ffffff;
                top: 50%;
                margin-top: -1px;
                left: 50%;
                margin-left: -10px;
            }
            #quick-add-trigger > span > span:last-child {
                position: absolute;
                height: 20px;
                width: 2px;
                border-radius: 2px;
                background-color: #ffffff;
                top: 50%;
                margin-top: -10px;
                left: 50%;
                margin-left: -1px;
            }

        #quick-add.open #quick-add-trigger,
        #quick-add-trigger:hover {
            background-color: #2494be;
        }

        #quick-add .dropdown-menu {
            background-color: #2a3142;
            border-radius: 0 0 0 2px;
            box-shadow: none;
            color: #ffffff;
            margin-top: 0;
            border: 0;
        }
            #quick-add .dropdown-menu li a {
                color: #9498a0;
                padding: 6px 20px;
            }

            #quick-add .dropdown-menu li:hover a,
            #quick-add .dropdown-menu li:focus a,
            #quick-add .dropdown-menu li a:focus,
            #quick-add .dropdown-menu li:active a {
                color: #ffffff;
                background-color: #3bafda;
            }
            #quick-add .dropdown-menu li.divider {
                background-color: rgba(255, 255, 255, .2);
            }

    .navbar-brand {
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        padding: 14px 12px;
        height: 52px;
        float: none;
        display: block;
        text-align: center;
    }
    .navbar-brand:hover,
    .navbar-brand:focus,
    .navbar-brand:active {
        color: #ffffff;
        background-color: #3bafda;
    }

        .navbar-brand img {
            height: 40px;
            margin-top: -8px;
        }

/*  ==========================================================================
    ASIDE
    ========================================================================== */
aside {
    position: fixed;
    left: -212px;
    top: 52px;
    bottom: 0;
    width: 212px;
    transition-duration: .25s;
    z-index: 99999;
    background-color: #2a3142;
}
    body.show-nav aside {
        left: 0;
    }

    .aside-backdrop {
        position: fixed;
        top: 52px;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(42, 49, 66, .8);
        z-index: 9999;
        display: none;
        cursor: pointer;
    }

.aside-content {
    position: relative;
    height: 100%;
    width: 100%;
}

    .aside-menu {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 86px;
    }

        #collapsible-menu-wrap {

        }

    .aside-upanel {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
        .upanel {
            padding: 22px 20px;
            cursor: pointer;
            position: relative;
        }
        .upanel-dp {
            position: absolute;
            left: 20px;
            top: 22px;
            width: 42px;
            height: 42px;
            background-color: red;
            border-radius: 2px;
            overflow: hidden;
        }
        .upanel-info {
            width: 100%;
            padding: 1px 0;
            padding-left: 54px;
            overflow: hidden;
        }
            .upanel-info h4 {
                font-size: 14px;
                font-weight: 500;
                margin: 0;
                padding: 0;
                line-height: 22px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                color: #ffffff;
            }
            .upanel-info h5 {
                font-size: 12px;
                font-weight: 400;
                margin: 0;
                padding: 0;
                line-height: 18px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                color: #9498a0;
            }

        .upanel-dd {
            border-radius: 0;
            border: 0;
            border-color: #eeeeee;
            box-shadow: none;
            width: 100%;
        }
            .upanel-dd li a:hover,
            .upanel-dd li a:focus,
            .upanel-dd li a:active {
                background-color: #3bafda;
                color: #ffffff;
            }

#main-nav {
    padding: 40px 0;
    margin-bottom: 0;
}

    #main-nav .panel {
        border-radius: 0;
        box-shadow: none;
        margin-top: 0;
        background: none;
    }
    #main-nav .panel .panel-heading {
        padding: 0;
        border-radius: 0;
    }
        #main-nav .panel .panel-heading a {
            padding: 12px 20px 12px 44px;
            display: block;
            position: relative;
            color: #9498a0;
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
        }
        #main-nav .panel .panel-heading a.active {
            color: #3bafda;
            box-shadow: 3px 0 0 0 #3bafda inset;
        }
            #main-nav .panel .panel-heading a.active:hover,
            #main-nav .panel .panel-heading a.active:focus,
            #main-nav .panel .panel-heading a.active:active {
                color: #3bafda;
            }
        #main-nav .panel .panel-heading a:hover,
        #main-nav .panel .panel-heading a:focus,
        #main-nav .panel .panel-heading a:active {
            color: #ffffff;
        }
        #main-nav .panel .panel-heading a i.fa {
            position: absolute;
            height: 22px;
            line-height: 20px;
            left: 16px;
            font-size: 14px;
        }

    .main-nav-ul {
        padding-left: 44px;
        padding-bottom: 12px;
        margin: 0;
    }
        .main-nav-ul li {
            display: block;
        }
        .main-nav-ul li a {
            color: #9498a0;
            padding: 8px 0;
            display: block;
        }
        .main-nav-ul li.active a,
        .main-nav-ul li a:hover,
        .main-nav-ul li a:active,
        .main-nav-ul li a:focus {
            color: #ffffff;
        }

        .main-nav-ul li.divider {
            display: block;
            border-top: 1px dotted #787c87;
            margin: 4px 0;
        }


/*  ==========================================================================
    QUICK PREVIEW
    ========================================================================== */
.preview-container {
    position: relative;
}
    .preview-preloader-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, .8);
    }
    .preview-preloader-overlay .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30px;
        width: 30px;
        margin-left: -15px;
        margin-top: -15px;
        line-height: 30px;
        text-align: center;
        font-size: 24px;
        color: #3bafda;
    }
.qp-photo {
    height: 120px;
    width: 120px;
    text-align: center;
    font-size: 50px;
    line-height: 120px;
    color: #bbbbbb;
    border-radius: 2px;
    background: #fafafa;
    float: left;
}

.prod-price {
    font-size: 14px;
    padding: 6px 12px 4px;
}
.prod-price:not(.hidden) {
    margin-top: 24px;
    display: inline-block;
}
.prod-price:not(.hidden) + .prod-info {
    margin-top: 12px;
}
.qp-info {
    margin-top: 24px;
}
    .qp-info h3 {
        margin: 0 0 3px 0;
        padding: 0;
        line-height: 1.4;
        font-size: 18px;
    }
    .qp-info h5 {
        margin: 0 0 12px 0;
        padding: 0;
        line-height: 1.4;
        font-size: 14px;
        font-weight: 400;
    }
    .qp-meta p { margin-bottom: 6px; }
    .qp-meta p span { display: block; }

    .qp-info > span + h3 {
        margin-top: 12px;
    }

.qp-options {
    margin: -2px;
    margin-top: 20px;
}
    .qp-options.btn-group {
        margin: 0;
        margin-top: 20px;
    }
    .qp-options:not(.btn-group) .btn {
        margin: 2px;
        float: left;
    }

/*  ==========================================================================
    USER PROFILE
    ========================================================================== */
.profile-head {

}

    .profile-photo {
        width: 120px;
        height: 120px;
        float: left;
        border-radius: 2px;
        overflow: hidden;
    }

    .profile-info {
        float: left;
        margin-left: 24px;
        padding: 0 0 8px 0;
    }
        .profile-info h1 {
            margin: 0;
            padding: 0;
            font-size: 30px;
            line-height: 1.4;
            font-weight: 400;
        }

        .profile-info h3 {
            margin: 0 0 8px 0;
            padding: 0;
            font-size: 18px;
            line-height: 1.4;
            font-weight: 400;
        }


/*  ==========================================================================
    JQUERY UI
    ========================================================================== */
.ui-widget {
    background-color: #ffffff;
    padding: 12px;
    border: 1px solid #ececec;
    width: 240px;
    border-radius: 2px;
}

    .ui-widget-header {
        text-align: center;
        position: relative;
        line-height: 24px;
        margin-bottom: 6px;
    }
        .ui-widget-header a {
            position: absolute;
            top: 0;
            height: 24px;
            width: 24px;
            line-height: 24px;
            overflow: hidden;
            cursor: pointer;
        }
            .ui-widget-header a.ui-datepicker-prev { left: -4px; }
            .ui-widget-header a.ui-datepicker-prev:before {
                content: '\f104';
                font-family: 'FontAwesome';
                position: relative;
                height: 24px;
                width: 24px;
                line-height: 24px;
                display: block;
            }
            .ui-widget-header a.ui-datepicker-next { right: -4px; }
            .ui-widget-header a.ui-datepicker-next:before {
                content: '\f105';
                font-family: 'FontAwesome';
                position: relative;
                height: 24px;
                width: 24px;
                line-height: 24px;
                display: block;
            }

    #ui-datepicker-div {
        display: none;
    }
    .ui-datepicker-title {
        font-weight: 500;
    }
        .ui-datepicker-title select {
            height: 24px;
            border: 0;
            margin: 0 1px;
            padding: 2px;
            background: url(../images/caret.png) no-repeat;
            background-position: right 3px center;
            background-size: 16px 16px;
            padding-right: 16px;
            -webkit-appearance: none;
            -moz-appearance: none;
            cursor: pointer;
        }

    .ui-datepicker-calendar {
        width: 100%;
        /*background-color: pink;*/
        text-align: center;
    }
    .ui-datepicker-calendar thead tr th {
        font-weight: normal;
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
    }
    .ui-datepicker-calendar tbody tr td a {
        padding: 4px 0;
        line-height: 22px;
        display: block;
        color: #353535;
    }
    .ui-datepicker-calendar tbody tr td.ui-datepicker-today a,
    .ui-datepicker-calendar tbody tr td a:hover {
        background-color: #3bafda;
        color: #ffffff;
        border-radius: 2px;
    }
    .ui-datepicker-calendar tbody tr td.ui-datepicker-week-end a { color: #cccccc; }
    .ui-datepicker-calendar tbody tr td.ui-datepicker-week-end a:hover { color: #ffffff; }


/*  ==========================================================================
    REQUESTS ETC
    ========================================================================== */
#request-details {

}
    #request-details .tab-pane {
        padding-top: 24px;
    }

.request-meta {
    margin-bottom: 24px;
}
    .request-meta h1 {
        margin: 20px 0 4px 0;
        padding: 0;
        line-height: 1.4;
        font-size: 24px;
    }
    .request-meta h4 {
        margin: 0 0 12px;
        padding: 0;
        line-height: 1.4;
        font-size: 18px;
        font-weight: 400;
    }

    .request-meta h5 {
        margin: 4px 0;
        padding: 0;
        line-height: 1.4;
        font-size: 14px;
    }
        .request-meta h5 em {
            font-weight: 400;
            font-style: normal;
        }

.request-data {
    padding: 24px 0;
}
    .request-data > h5 {
        margin-top: 0;
    }
    .request-data > p {
        margin-bottom: 0;
    }

    .request-data.rd-last {
        padding-bottom: 0;
    }


/*  ==========================================================================
    DETAILS ETC
    ========================================================================== */
.details-content {

}
    .details-content h1 {
        margin: 0 0 12px 0;
        padding: 0;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 400;
    }

    .details-content h4 {
        margin: 0 0 6px 0;
        padding: 0;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
    }
        .details-content h4 i.fa {
            color: #3bafda;
        }

    .details-content h5 {
        margin: 0 0 6px 0;
        padding: 0;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
    }

    .details-more-info {

    }

    .details-photo {
        height: 80px;
        width: 80px;
        border-radius: 2px;
        overflow: hidden;
        margin-bottom: 24px;
    }


#requester-signup-panel {
    margin-bottom: 60px;
}

.po-createdby {
    margin-bottom: 24px;
}

/*  ==========================================================================
    ADDRESSES
    ========================================================================== */
.address-separator {
    display: block;
}
    .address-separator span {
        display: block;
        border-bottom: 1px dashed #eeeeee;
    }


/*  ==========================================================================
    PURCHASE ORDER PAGES
    ========================================================================== */
.po-meta {
    padding-bottom: 24px;
}
    .po-meta span.label {
        display: inline-block;
        padding: 4px 10px;
        font-size: 12px;
    }

    .po-meta h2 {
        font-size: 18px;
        margin: 18px 0 6px;
    }

.form-control-group .input-group + .input-group {
    margin-top: 12px;
}