/*  ==========================================================================
    COLOR PRIMARY
    ========================================================================== */
* a, * a:hover, * a:focus, .loader-wrap .fa.fa-loader, .text-primary,
.input-in-table:focus, .checkbox input[type="checkbox"]:checked + span:before,
.radio input[type="radio"]:checked + span:before, .panel-preloader i.fa,
.nav-tabs li.active a, .nav-tabs li.active a:active, .nav-tabs li.active a:hover,
.nav-tabs li.active a:focus, .pagination>li>a, .pagination>li>span, 
#main-nav .panel .panel-heading a.active, #main-nav .panel .panel-heading a.active:hover,
#main-nav .panel .panel-heading a.active:focus, #main-nav .panel .panel-heading a.active:active,
.preview-preloader-overlay .fa, .details-content h4 i.fa, .dashboard-stat h2,
.btn-link
{
    color: #65c178;
}

/*  ==========================================================================
    COLOR PRIMARY ALT
    ========================================================================== */
.pagination>li>a:hover, .btn-link:hover
{
    color: #529c61;
}

/*  ==========================================================================
    BACKGROUND DARK
    ========================================================================== */
#quick-add .dropdown-menu, aside
{
    background-color: #2a2a2a;
}

/*  ==========================================================================
    BACKGROUND PRIMARY ALT
    ========================================================================== */
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, 
.btn.btn-primary.focus, .btn.btn-primary.active, 
.open > .dropdown-toggle.btn-primary, body.show-nav #push-menu-trigger,
#push-menu-trigger:hover, #push-menu-trigger:focus, #push-menu-trigger:active,
#quick-add.open #quick-add-trigger, #quick-add-trigger:hover
{ 
    background-color: #529c61; 
}

div.dt-buttons .dt-button:active, div.dt-buttons .dt-button:focus,
div.dt-buttons .dt-button:hover 
{
    background: #529c61!important;
}

/*  ==========================================================================
    BACKGROUND PRIMARY
    ========================================================================== */
::-moz-selection { 
    background: #65c178;
}
::selection { 
    background: #65c178;
}
.pagination>.active>a, .pagination>.active>span, 
.pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, 
.pagination>.active>span:focus, div.dt-buttons .dt-button, div.tagsinput span.tag ,
.nice-table thead tr th
{ 
    background: #65c178;
}

.btn.btn-primary, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, 
.dropdown-menu > .active >a:focus, .badge, .label.label-primary, 
#quick-add .dropdown-menu li:hover a, #quick-add .dropdown-menu li:focus a, 
#quick-add .dropdown-menu li a:focus, #quick-add .dropdown-menu li:active a, 
.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active, 
.upanel-dd li a:hover, .upanel-dd li a:focus, .upanel-dd li a:active,
.ui-datepicker-calendar tbody tr td.ui-datepicker-today a, 
.ui-datepicker-calendar tbody tr td a:hover, header, #datatables_buttons_info,
.nice-table tbody tr:hover td
{ 
    background-color: #65c178;
}

/*  ==========================================================================
    BACKGROUND OPACITY
    ========================================================================== */
.loader-wrap
{ 
    background: rgba(42, 42, 42, .8);
}

.modal-backdrop.in, .aside-backdrop
{
    background-color: rgba(42, 42, 42, .8);
}

/*  ==========================================================================
    BORDER COLOR PRIMARY
    ========================================================================== */
.dropdown-menu, .form-control:focus, .nav-tabs li.active, .pagination>.active>a, 
.pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, 
.pagination>.active>a:focus, .pagination>.active>span:focus, .bootstrap-select .dropdown-menu
{
    border-color: #65c178;
}



/*  ==========================================================================
    MENU COLOR
    ========================================================================== */
#quick-add .dropdown-menu li a, .upanel-info h5, #main-nav .panel .panel-heading a, 
.main-nav-ul li a
{
    color: #939393;
}

/*  ==========================================================================
    MISC
    ========================================================================== */
#main-nav .panel .panel-heading a.active 
{
    box-shadow: 3px 0 0 0 #65c178 inset;
}

.main-nav-ul li.divider 
{
    border-top: 1px dotted #939393;
}