/*  ==========================================================================
    COLOR PRIMARY
    ========================================================================== */
* a, * a:hover, * a:focus, .loader-wrap .fa.fa-loader, .text-primary,
.input-in-table:focus, .checkbox input[type="checkbox"]:checked + span:before,
.radio input[type="radio"]:checked + span:before, .panel-preloader i.fa,
.nav-tabs li.active a, .nav-tabs li.active a:active, .nav-tabs li.active a:hover,
.nav-tabs li.active a:focus, .pagination>li>a, .pagination>li>span,
.preview-preloader-overlay .fa, .details-content h4 i.fa, .dashboard-stat h2,
.btn-link
{
    color: #ef8e26;
}

/*  ==========================================================================
    COLOR PRIMARY ALT
    ========================================================================== */
.pagination>li>a:hover, .btn-link:hover
{
    color: #d27610;
}

/*  ==========================================================================
    BACKGROUND DARK
    ========================================================================== */
#quick-add .dropdown-menu, aside
{
    background-color: #221d19;
}

/*  ==========================================================================
    BACKGROUND PRIMARY ALT
    ========================================================================== */
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active,
.btn.btn-primary.focus, .btn.btn-primary.active,
.open > .dropdown-toggle.btn-primary, body.show-nav #push-menu-trigger,
#push-menu-trigger:hover, #push-menu-trigger:focus, #push-menu-trigger:active,
#quick-add.open #quick-add-trigger, #quick-add-trigger:hover
{
    background-color: #d27610;
}

div.dt-buttons .dt-button:active, div.dt-buttons .dt-button:focus,
div.dt-buttons .dt-button:hover
{
    background: #d27610!important;
}


/*  ==========================================================================
    BACKGROUND PRIMARY
    ========================================================================== */
::-moz-selection {
    background: #ef8e26;
}
::selection {
    background: #ef8e26;
}
.pagination>.active>a, .pagination>.active>span,
.pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus,
.pagination>.active>span:focus, div.dt-buttons .dt-button, div.tagsinput span.tag,
.nice-table thead tr th
{
    background: #ef8e26;
}

.btn.btn-primary, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover,
.dropdown-menu > .active >a:focus, .badge, .label.label-primary,
#quick-add .dropdown-menu li:hover a, #quick-add .dropdown-menu li:focus a,
#quick-add .dropdown-menu li a:focus, #quick-add .dropdown-menu li:active a,
.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active,
.upanel-dd li a:hover, .upanel-dd li a:focus, .upanel-dd li a:active,
.ui-datepicker-calendar tbody tr td.ui-datepicker-today a,
.ui-datepicker-calendar tbody tr td a:hover, header, #datatables_buttons_info,
.nice-table tbody tr:hover td
{
    background-color: #ef8e26;
}

/*  ==========================================================================
    BACKGROUND OPACITY
    ========================================================================== */
.loader-wrap
{
    background: rgba(34, 29, 25, .8);
}

.modal-backdrop.in, .aside-backdrop
{
    background-color: rgba(34, 29, 25, .8);
}

/*  ==========================================================================
    BORDER COLOR PRIMARY
    ========================================================================== */
.dropdown-menu, .form-control:focus, .nav-tabs li.active, .pagination>.active>a,
.pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover,
.pagination>.active>a:focus, .pagination>.active>span:focus, .bootstrap-select .dropdown-menu
{
    border-color: #ef8e26;
}



/*  ==========================================================================
    MENU COLOR
    ========================================================================== */
#quick-add .dropdown-menu li a, .upanel-info h5, #main-nav .panel .panel-heading a,
.main-nav-ul li a
{
    color: #b0b0af;
}

/*  ==========================================================================
    MISC
    ========================================================================== */
    #main-nav .panel .panel-heading a.active,#main-nav .panel .panel-heading a.active, #main-nav .panel .panel-heading a.active:hover,
    #main-nav .panel .panel-heading a.active:focus, #main-nav .panel .panel-heading a.active:active, #main-nav .panel .panel-heading a:hover
    {
        background-color:#ef8e26;
      	color: #fff;
    }

.main-nav-ul li.divider
{
    border-top: 1px dotted #b0b0af;
}
